.navbar {
  background: linear-gradient(90deg, #4070f4, #7f58ff);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
    color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00fff7;
}
